<div>
    <h2>
        <span jhiTranslate="bcbApp.ordem.home.title">Ordens</span>
        <button class="btn btn-primary float-right jh-create-entity create-ordem" [routerLink]="['/', { outlets: { popup: ['ordem-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="bcbApp.ordem.home.createLabel">
            Create new Ordem
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'bcbApp.ordem.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ordems">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bcbApp.ordem.tipo">Tipo</span></th>
            <th><span jhiTranslate="bcbApp.ordem.valorOrdem">Valor Ordem</span></th>
            <th><span jhiTranslate="bcbApp.ordem.quantidade">Quantidade</span></th>
            <th><span jhiTranslate="bcbApp.ordem.dataOrdem">Data Ordem</span></th>
            <th><span jhiTranslate="bcbApp.ordem.status">Status</span></th>
            <th><span jhiTranslate="bcbApp.ordem.custodia">Custodia</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ordem of ordems ;trackBy: trackId">
                <td><a [routerLink]="['../ordem', ordem.id ]">{{ordem.id}}</a></td>
                <td jhiTranslate="{{'bcbApp.TipoOrdermEnum.' + ordem.tipo}}">{{ordem.tipo}}</td>
                <td>{{ordem.valorOrdem}}</td>
                <td>{{ordem.quantidade}}</td>
                <td>{{ordem.dataOrdem | date:'medium'}}</td>
                <td jhiTranslate="{{'bcbApp.StatusOrdemEnum.' + ordem.status}}">{{ordem.status}}</td>
                <td>
                    <div *ngIf="ordem.custodia">
                        <a [routerLink]="['../custodia', ordem.custodia?.id ]" >{{ordem.custodia?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../ordem', ordem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ordem/'+ ordem.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ordem/'+ ordem.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
